@font-face{
	font-family: 'DancingScript-Bold';
	src: url(../typografia/DancingScript-Bold.ttf);
}
/*cuerpo de la pagina*/
body{
	font-family: 'DancingScript-Bold', cursive;
	background-color: #02010a;	
}
#contenido{
	width: 900px;
	margin: auto;
}
/*Cabecera*/
header{
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
}
header h1{
	margin-left: 15px;
	display: inline-block;
	color: white;
	text-shadow: 2px 2px #02010a;
}
header nav{
 	float: right;
 	margin-right: 10px;
 	margin-top: 15px;
	display: inline-block;
}
/*Menu de enlaces*/
#enlaces a{
	color: white;
	font-size: 1.3em;
}
#enlaces ul li{
	list-style-type: none;
	display: inline;
	margin-right: 10px;
}

#enlaces a[href ^= 'index']{
	text-decoration: none;
}
/*Imagen central-Antigua_Guatemala*/
#imagen1{
	background-color:  #82c3a6;
	height: 30%;
	padding-top: 20px;
	padding-bottom: 20px;
}
#imagen1 figure{
	display: block;
	margin: auto;
}
#imagen1 img{
	width: 750px;
	height: 600px;
	display: block;
	margin: auto;
	box-shadow: 2px 2px #02010a;
}

/*Imagenes secundarias*/
#imagen2 a{
	color: black;
	font-size: 1.3em;
}
#imagen2{
	background-color: #d5c75f;
	border: 1px;
	display: flex;
	flex-direction: nowrap;
	padding-bottom: 5px;
}
#imagen2 img[src$='jpg']{
	width: 350px;
	height: 300px;
	box-shadow: 2px 2px #02010a;
}
#imagen2 .atitlan:hover{
	transform: rotate(10deg);
	box-shadow: 2px 2px #82c3a6;
} 

#imagen2 .catedral:hover{
	transform: translate(20px, -5px);
	box-shadow: 2px 2px #82c3a6;
}

#imagen2 figure{
	display: block;
	margin: auto;
	margin-top: 15px;
}

#imagen2 figcaption{
	text-align: center;
}
/*Pie de Paginas*/
footer{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #C6d5c5;
	display: flex;
	flex-flow: row wrap
}

footer ul li{
	list-style-type: none;
}

#caja1, #caja2, #caja3, #caja4{
	margin: auto;
}
.caja3 img{
	width: 15px;
	height: 15px;
}
/*Aplicacion de media queries*/
@media (min-width: 900px){
	#contenido{
		width: 900px;
		margin: auto;
	}
}
@media (max-width: 900px) and (min-width: 721px){
	#contenido{
		width: 100%;
		margin: auto;
	}
	#imagen1 img{
		width: 650px;
		height: 500px;
		margin: auto;
	}
	#imagen2 .atitlan img, #imagen2 .catedral img{
		width: 300px;
		height: 250px;
		margin: auto;
	}
}
@media (max-width: 720px) and (min-width: 621px){
	#contenido{
		width: 100%;
		margin: auto;
	}
	#imagen1 img{
		width: 550px;
		height: 400px;
		margin: auto;
	}
	#imagen2 .atitlan img, #imagen2 .catedral img{
		width: 250px;
		height: 200px;
		margin: auto;
	}
	header h1{
		text-align: center;
		width: 100%;
		order: 1;
	}
	header{
		display: flex;
		flex-direction: column;
	}
	header nav{
		text-align: center;
		width: 100%;
		order: 2;
	}
	.caja1, .caja2, .caja3, .caja4{
		text-align: left;
	}
}
@media (max-width: 620px) and (min-width: 531px){
	#contenido{
		width: 100%;
		margin: auto;
	}
	header{
		display: flex;
		flex-direction: column;
	}
	header h1{
		text-align: center;
		width: 100%;
		order: 1;
	}
	header nav{
		text-align: center;
		width: 100%;
		order: 2;
	}
	#imagen1 img{
		width: 400px;
		height: 350px;
		margin: auto;
	}
	#imagen2 .atitlan img, #imagen2 .catedral img{
		width: 220px;
		height: 180px;
		margin: auto;
	}
	.caja1, .caja2, .caja3, .caja4{
		text-align: left;
	}
}
@media (max-width: 530px) and (min-width: 421px){
	#contenido{
		width: 100%;
		margin: auto;
	}
	header{
		display: flex;
		flex-direction: column;
	}
	header h1{
		text-align: center;
		width: 100%;
		order: 1;
	}
	header nav{
		text-align: center;
		width: 100%;
		order: 2;
	}
	#imagen1 img{
		width: 380px;
		height: 330px;
		margin: auto;
	}
	#imagen2 .atitlan img, #imagen2 .catedral img{
		width: 200px;
		height: 150px;
		margin: auto;
	}
	.caja1, .caja2, .caja3, .caja4{
		text-align: left;
	}
}
@media (max-width: 420px){
	#contenido{
		width: 100%;
		margin: 0 auto;
	}
	header{
		display: flex;
		flex-direction: column;
	}
	header h1{
		text-align: center;
		width: 100%;
		order: 1;
	}
	header nav{
		text-align: center;
		width: 100%;
		order: 2;
	}
	#imagen1 img{
		width: 250px;
		height: 200px;
		margin: auto;
	}
	#imagen2{
		display: flex;
		flex-direction: column;
	}
	#imagen2 .atitlan img, #imagen2 .catedral img{
		width: 250px;
		height: 200px;
	}

	.caja1{
		width: 100%;
		order: 1;
		text-align: left;
	}
	.caja2{
		width: 100%;
		order: 2;
		text-align: left;
	}
	.caja3{
		width: 100%;
		order: 3;
		text-align: left;
	}
	.caja4{
		width: 100%;
		order: 4;
		text-align: left;
	}
}