/*Cuerpo de la pagina configuracion general*/
@font-face{
	font-family: 'DancingScript-Bold';
	src: url(../typografia/DancingScript-Bold.ttf);
}
#contenido{
	width: 900px;
	margin: auto;
}
body{
	font-family: 'Dancingscript-Bold', cursive;
	background-color: #02010a;
}
/*Cabecera*/
header{
	animation: paisajes 3s;
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
}

header nav{
	display: inline-block;
	margin-right: 10px;
	margin-top: 15px;
	float: right;
}
header h1{
	color: white;
	display: inline-block;
	text-shadow: 2px 2px #02010a;
	margin-left: 15px;
}
/*nav anclajes*/
#anclajes ul li{
	list-style-type: none;
	margin-right: 10px;
	display: inline;
}
#anclajes a[href$='Paisajes.html']{
	text-decoration: none;
}
nav a{
	font-size: 1.3em;
	color: white;
}
/*cuerpo de la pagina ..Seccion*/
section{
	background-color: #d5c75f;
	display: flex;
	flex-flow: row wrap;
}
#galeria img{
	width: 210px;
	height: 160px;
}

#galeria div{
	display: block;
	margin: auto;
}
.imagen1{
	filter: blur(10px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
}
.imagen2, .imagen4, .imagen6{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
}
.imagen3{
	filter: sepia(90%);
	-webkit-filter: sepia(90%);
	-moz-filter: sepia(90%);
}
/*Pie de Pagina*/
footer{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	flex-flow: row wrap;
	background-color: #C6d5c5;
}
footer ul li{
	list-style-type: none;
}
.caja3 img{
	width: 15px;
	height: 15px;
}
/*Animacion keyframes*/
@-webkit-keyframes paisajes{
	0%{
		margin-top: 150%;
	}
	60%{
		margin-top: -5%;
	}
	100%{
		margin-top: 0%;
	}
}
/*Utilizacion de media queries*/
@media (max-width: 670px){
	header{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	header h1{
		width: 100%;
		order: 1;
		text-align: center;
	}
	header nav{
		width: 100%;
		order: 2;
		text-align: center;
	}
}
@media (min-width: 901px){
	#contenido{
		width: 900px;
		margin: 0 auto;
	}
}
@media (max-width: 900px){
	#contenido{
		width: 100%;
		margin: 0 auto;
	}
	#galeria img{
		width: 300px;
		height: 250px;
		margin: auto;
	}
}
@media (max-width: 780px){
	#galeria img{
		width: 260px;
		height: 210px;
		margin: auto;
	}
}
@media (max-width: 698px){
	#galeria img{
		width: 230px;
		height: 180px;
		margin: auto;
	}
}
@media (max-width: 636px){
	#galeria{
		display: flex;
		flex-direction: column;
	}
	#galeria img{
		width: 400px;
		height: 350px;
		margin: auto;
	}
}
@media (max-width: 479px){
	#galeria img{
		width: 300px;
		height: 250px;
		margin: auto;
	}
	footer{
		display: flex;
		flex-direction: column;
	}
	.caja1{
		width: 100%;
		order: 1;
	}
	.caja2{
		width: 100%;
		order: 2;
	}
	.caja3{
		width: 100%;
		order: 3;
	}
	.caja4{
		width: 100%;
		order: 4;
	}
}
@media (max-width: 379px){
	#galeria figure{
		margin: auto;
		margin-top: 15px;
	}
	#galeria img{
		width: 250px;
		height: 200px;
	}
}	