/*Cuerpo de la pagina configuraciones generales*/
@font-face{
	font-family: 'DancingScript-Bold';
	src: url(../typografia/DancingScript-Bold.ttf);
}
#contenido{
	width: 900px;
	margin: auto;
}
body{
	font-family: 'DancingScript-Bold', cursive;
	background-color: #02010a;
}
/*Cabecera*/
header{
	animation: retratos 3s;
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
}

header nav{
	display: inline-block;
	float: right;
	margin-right: 10px;
	margin-top: 15px;
}

header h1{
	color: white;
	text-shadow: 2px 2px #02010a;
	margin-left: 15px;
	display: inline-block;
}

/*Conecciones*/
nav ul li{
	list-style-type: none;
	display: inline;
	margin-right: 10px;
}
#conecciones a[href$='Retratos.html']{
	text-decoration: none;
}
#conecciones a{
	color: white;
	font-size: 1.3em;
}

/*Cuerpo de la pagina*/
section{
	background-color: #d5c75f;
	display: flex;
	flex-flow: row wrap;
}
#galerias img{
	width: 210px;
	height: 160px;
}
#galerias div{
	display: block;
	margin: auto;
}
.imagen1{
	filter: blur(10px);
	-moz-filter: blur(10px);
	-webkit-filter: blur(10px);
}
.imagen2, .imagen4, .imagen6{
	filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
.imagen3{
	filter: sepia(90%);
	-moz-filter: sepia(90%);
	-webkit-filter: sepia(90%);
}
/*Pie de Pagina*/
footer{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #C6d5c5;
	display: flex;
	flex-flow: row wrap;
}
footer ul li{
	list-style-type: none;
}
.caja3 img{
	width: 15px;
	height: 15px;
}
/*animacion keyframes*/
@-webkit-keyframes retratos{
	0%{
		margin-top: 150%;
	}
	60%{
		margin-top: -5%;
	}
	100%{
		margin-top: 0%;
	}
}
/*aplicacion de media queries*/
@media (max-width: 645px){
	header{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}
@media (min-width: 901px){
	#contenido{
		width: 900px;
		margin: 0 auto;
	}
}
@media (max-width: 900px){
	#contenido{
		width: 100%;
		margin: 0 auto;
	}
	#galerias img{
		width: 300px;
		height: 250px;
		margin: auto;
	}
}
@media (max-width: 780px){
	#galerias img{
		width: 260px;
		height: 210px;
		margin: auto;
	}
}
@media (max-width: 698px){
	#galerias img{
		width: 230px;
		height: 180px;
		margin: auto;
	}
}
@media (max-width: 636px){
	#galerias{
		display: flex;
		flex-direction: column;
	}
	#galerias img{
		width: 400px;
		height: 350px;
		margin: auto;
	}
}
@media (max-width: 479px){
	#galerias img{
		width: 300px;
		height: 250px;
		margin: auto;
	}
	footer{
		display: flex;
		flex-direction: column;
	}
	.caja1{
		width: 100%;
		order: 1;
	}
	.caja2{
		width: 100%;
		order: 2;
	}
	.caja3{
		width: 100%;
		order: 3;
	}
	.caja4{
		width: 100%;
		order: 4;
	}
}
@media (max-width: 379px){
	#galerias figure{
		margin: auto;
		margin-top: 15px;
	}
	#galerias img{
		width: 250px;
		height: 200px;
	}
}